<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Naval Battle</title>
</head>
<body>
<div id="naval-battle"></div>
</body>
</html>
